<body>
  <div class="baseView">
    <div class="fist-div">
      <div class="lorem-ipsum">Lorem Ipsum</div>
      <div class="frame1">
        <ion-icon name="notifications-outline" class="iconOne"></ion-icon>

      </div>
      <div class="frame2">

      </div>
      
      
     
    
   
    </div>


   <div class="frame-6">
    <div class="lorem-ipsum-v">Lorem ipsum v</div>
    <div class="frame-36"></div>
    <div class="frame-37"></div>
    <div class="frame-41"></div>
    <div class="sueldo"> Sueldo</div>
    
    
   

  </div>
  <hr>
  <section class="priceContent">
    <ion-button class="butBeg2" fill="clear"><div class="button-text">USD<br/>500</div></ion-button>
    <ion-button class="butBeg2" fill="clear"><div class="button-text">USD<br/>500</div></ion-button>
   </section>

 
  




  </div>
  
     
    
   
  
   
   

   

</body>