<body>
   <div class="baseView">
    <div class="fist-div">
      <div class="lorem-ipsum">Lorem Ipsum</div>
      <div class="frame1">
        <ion-icon name="notifications-outline" class="iconOne"></ion-icon>

      </div>
      <div class="frame2">

      </div>
      
      
     
    
   
    </div>
    <section class="buttons">
      <ion-button class="butBeg" fill="clear"><ion-icon name="swap-horizontal-outline" class="iconsOne"></ion-icon></ion-button>
      <ion-button class="butBeg" fill="clear"><ion-icon name="card-outline" class="iconsOne"></ion-icon></ion-button>
      <ion-button class="butBeg" fill="clear"><ion-icon name="cash-outline"  class="iconsOne"></ion-icon></ion-button>
    </section>

    <section class="priceContent">
      <ion-button class="butBeg2" fill="clear"><div class="button-text">USD<br/>500</div></ion-button>
      <ion-button class="butBeg2" fill="clear"><div class="button-text">USD<br/>500</div></ion-button>
     </section>

     <div class="money-one">
      <div class="lorem-impum">Lorem impum</div>
      <div class="_28-01-28">28/01/28</div>
      <ion-button class="frame-12" fill="clear"> <div class="_45">-$45</div></ion-button>
       
      
    </div>
    <div class="money-one">
      <div class="lorem-impum">Lorem impum</div>
      <div class="_28-01-28">28/01/28</div>
      <ion-button class="frame-12" fill="clear"> <div class="_45">-$45</div></ion-button>
       
      
    </div>
    <div class="money-one">
      <div class="lorem-impum">Lorem impum</div>
      <div class="_28-01-28">28/01/28</div>
      <ion-button class="frame-12" fill="clear"> <div class="_45">-$45</div></ion-button>
       
      
    </div>
    <div class="money-one">
      <div class="lorem-impum">Lorem impum</div>
      <div class="_28-01-28">28/01/28</div>
      <ion-button class="frame-12" fill="clear"> <div class="_45">-$45</div></ion-button>
       
      
    </div>
    <div class="money-one">
      <div class="lorem-impum">Lorem impum</div>
      <div class="_28-01-28">28/01/28</div>
      <ion-button class="frame-12" fill="clear"> <div class="_45">-$45</div></ion-button>
       
      
    </div>
    <div class="money-one">
      <div class="lorem-impum">Lorem impum</div>
      <div class="_28-01-28">28/01/28</div>
      <ion-button class="frame-12" fill="clear"> <div class="_45">-$45</div></ion-button>
       
      
    </div>
    </div>

    

</body>